# Maven build output
target/

# VS Code / Java extension files
.vscode/
.classpath
.project
.settings/
.factorypath
bin/

.idea/
*.iml

# OS clutter
.DS_Store
Thumbs.db

# Classpath file from `mvn dependency:build-classpath`, if you made one
cp.txt